@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700!exo:100,200,300,400,500,600,700');

/*---Colors---*/
.bg-color-name-title {
    background-color: #e67e22;
}
.bg-color-contact {
    background-color: #ffffff;
    
}
    
.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-menu {
    background-color: #e67e22;
}
.ui-menu-color-gallery {
    background-color: #e67e22;
}
.ui-menu-color-contact {
    background-color: #e67e22;
}
/*---padding,margins,texts--*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo",sans-serif;
    font-weight:200;
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.inline-block {
    display: inline-block;
}

/*---Headings---*/

.heading {
  text-align: center;
  height: 140px;
 
}
.logo {
    background: url(../images/4glogo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e67e22;
    min-height: 260px; 
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
 
.name {
    font-family:"Exo",sans-serif;
    font-weight: 200;
    font-size: 66px;
    margin-top: 20px;
    color: #ffffff;
}
.title {
        font-family:"Roboto",sans-serif;
        font-weight: 200;
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 200px;
        color: #ffffff;
}

#nav {
    margin:0;
}
#nav li {
    padding:0;
}
.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------Main page---------------*/
.main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mrgn {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #e67e22;
}

/*--------head-list------------*/
.phone-pic img {
    width: 40%;
    margin-left: 30%;
    margin-top:45px;
}
.steps3 {
    margin-top: 60px;
 }

.steps3 div {
   border:1px solid #e66e22;
   display:inline-block;
   border-radius:50%;
   width:50px;
   height:50px;
   text-align:center;
   line-height:50px;
}

/* -------------menu-list-----------*/
.menu-list {
    margin-top: 20px;
    font-weight: 700;
}
.menu-list h1:after {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}
   .menu-list h2 {
    margin-top:20px;
}

.menu-list h3 {
    margin-top: 30px;
}
.menu-list img {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
}
.prg-styl {
    text-align: justify;
}
/*-------gallery-list----------*/

.gallery-list {
    margin-top: 20px;
    font-weight: 700;
}
.gallery-list h1:after {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.gallery-list img {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
}


/*-------Hover.css-----------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}

/* ---------Button Styling---------*/
.buttons {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    border:1px solid #e67e22;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 20px;
}
.btn-half {
    background-color: #e67e22;
    color: white;
    margin-left: 40px;
}
.btn-full {
    margin-top: 10px;
    margin-left: 45px;
}
.btn-full:hover {
    background-color: #e67e22;
    color: white;
    transition: all .5s ease-in;
}

/*--------contact---------*/
.contact-heading {
    font-family: Exo,sans-serif;
    font-weight: 300;
    margin-top: 55px;
  
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e67e22;
    color: #fafafa;
}

/*--------Footer---------*/
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 90px;
    margin: 0;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 23px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}

.app-logo img {
     
    height: 45px;
    border-radius: 15px;
}
.andrlogo {
    margin-bottom: 10px;
   
}

.ioslogo {
    margin-top: 5px;
    margin-bottom: 15px;
}

/*-------------Audio Clip----------*/
.audio-clip {
    margin-top:50px;
    margin-bottom: 50px;
    
}

/*---------media-querry-------------*/
@media(min-width: 995px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }
    
        .center-form {
        padding-top: 10px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
/*-------------Video Clip query----------*/

@media screen and (max-width:1366px){
    .video iframe {
        width: 80%;
    }
    
}

@media screen and (max-width:700px){
    .video iframe {
        width: 70%;
    }
}

@media screen and (max-width:400px){
    .video iframe {
        width: 90%;
       
    }
}











