@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700!exo:100,200,300,400,500,600,700');

/*---Colors---*/
.bg-color-name-title {
    background-color: blue;
}
.bg-color-contact {
    background-color: #ffffff;
    
}
    
.ui-menu-color-home {
    background-color: blue;
}

.ui-menu-color-menu {
    background-color: blue;
}
.ui-menu-color-gallery {
    background-color: blue;
}
.ui-menu-color-contact {
    background-color: blue;
}
/*---padding,margins,texts--*/
h1,h2,h3,h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo",sans-serif;
    font-weight:300;
    color: #fafafa;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.inline-block {
    display: inline-block;
}

/*---Headings---*/
header {
    margin: 0;
}
.heading {
  text-align: center;
  height: 140px;
 
}
.logo {
    background: url(../images/4glogo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    min-height: 60px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
 
.name {
    font-family:"Exo",sans-serif;
    font-weight: 200;
    font-size: 66px;
    margin-top: 20px;
    
    color: #ffffff;
}
.title {
        font-family:"Roboto",sans-serif;
        font-weight: 200;
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 200px;
        color: #ffffff;
}

#nav {
    margin:0;
}
#nav li {
    padding:0;
}
.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------Main page---------------*/
.main-pag h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
}
.main-pag h4 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    
}
.main-pag h1 :after {
   width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.main-pag img {
    background-image: url(assets/images/main.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
}


/* -------------menu-list-----------*/


.menu-list {
    margin-top: 20px;
    font-weight: 700;
    
}
.menu-list h1:after {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.menu-list h2 {
    margin-top:20px;
    
}

.menu-list h3 {
    margin-top: 30px;
}
.menu-list img {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
}
.prg_styl {
    text-align: justify;
}

/*-------Hover.css-----------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    
}


/* ---------Button Styling---------*/

.buttons {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    border:1px solid #e67e22;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 20px;
    
}
.btn-half {
    background-color: #e67e22;
    color: white;
    margin-left: 40px;
}
.btn-full {
    margin-top: 10px;
   margin-left: 45px;
}
.btn-full:hover {
    
    background-color: #e67e22;
    color: white;
    transition: all .5s ease-in;
}

/*--------contact---------*/
.contact-heading {
    font-family: Exo,sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

/*--------Footer---------*/
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 90px;
    margin: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}

.app-logo img {
     
    height: 45px;
    border-radius: 15px;
}
.andrlogo {
    margin-bottom: 10px;
   
}

.ioslogo {
    margin-top: 5px;
    float: left;
    margin-bottom: 15px;
}

/*-------------Video Clip----------*/


.my-video {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*-------------Audio Clip----------*/



/*---------media-querry-------------*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}



.header {
    background-image: url(assets/images/main.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}




